.full-page {
    background-color: #EFEAE8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow-y: scroll;
}

.full-page main {
    margin-bottom: 2vh;
}

.intro-container {
    margin: auto;
    width: 70%;
}

.title {
    color: #A37666;
    text-align: center;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0;

}

.subtitle {
    text-align: center;
    font-size: 1.75vw;
    letter-spacing: 0;
    font-style: italic;
    font-weight: normal;
    line-height: 24px;
}

.form-container {
    width: 70%;
    margin: auto;
}

.form-container iframe {
    width: 70vw;
    min-height: 60vh;
    max-height: 70vh;
}
