.title {
  color: #A37666;
  text-align: center;
  font-size: 5vw;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 0;
  margin-top: 4rem;
}

.container {
  width: 90vw;
  margin: auto;
}

/* COMMITTEE COMPONENT */
.committee-filled, .committee-outlined {
  padding: 2vw;
  margin: 4vw;
}

.committee-filled {
  background-color: #EFEAE8;
}

.committee-outlined {
  border: 1px solid #A77B77;
}

.name {
  font-family: Vollkorn SC;
  font-style: normal;
  font-weight: bold;
  font-size: 6vh;
  color: #A37666;
}

.summary {
  font-style: normal;
  font-weight: normal;
  font-size: 2.75vh;
  line-height: 5vh;
}

.info {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25vh;
  line-height: 5vh;
}

.info li {
  position: relative;
  margin-left: 4vw;
  list-style: none;
}

.info li:after {
  content: '';
  height: .6em;
  width: .6em;
  background: #A77B77;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .7em;
  left: -2vw;
}

@media only screen and (max-width: 775px) {
  .committee-filled, .committee-outlined {
    padding: 3vw;
    margin: 2vw;
  }
  
  .name {
    font-size: 5vw;
  }

  .summary {
    font-size: 3vw;
    line-height: 4vw;
  }

  .info {
    font-size: 2.5vw;
    line-height: 1.5em;
  }

  .info li:after {
    height: .5em;
    width: .5em;
    top: .5em;
    left: -2.7vw;
  }
}

