.navbar {
    overflow: hidden;
    color: white;
  }
  
  /* Links inside the navbar */
  .navbar a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* The dropdown container */
  .dropdown {
    position: fixed;
    display: flex;
    flex-direction: row;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a white background color and change text color of navbar links on hover  */
  .navbar a:hover, .dropdown:hover .dropbtn:hover {
    background-color:white;
    color: #A77B77;
  } 
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px; 
    text-decoration: none;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .drop-container {
      display: flex;
      flex-direction: column;
  }