.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
}

.profile > * {
  margin: .5vw;
}

.profile-pic img {
  border-radius: 50%;
}

.name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.position {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}

.bio {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;;
  text-align: center;
}